<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="feedtab">
      Users Feed    <!-- Title of this tab page   -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item

        *ngFor="let item of users"
        [routerLink]="['/', 'users', item.login]"
        (click)="goToTabs($event)">
        <ion-avatar slot="start">
          <img src={{item.avatar_url}} />
        </ion-avatar>
          {{item.login}}
      </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>



