<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      User/Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-searchbar #username
      class="username"
      placeholder="Enter username"
      [(ngModel)]="userQuery"
      (keyup.enter)="searchUser(username.value)"
      showCancelButton="focus"
    ></ion-searchbar>
    <ion-card *ngIf="show">
      <ion-card-header>
          <ion-item>
              <ion-avatar slot="start">
                <img src={{userData.avatar_url}}>
              </ion-avatar>
              <ion-label><b>{{userData.login}}</b></ion-label>
          </ion-item>

          <ion-card-title text-center>
              <i>{{userData.name}}</i>
          </ion-card-title>
      </ion-card-header>
      <ion-card-subtitle text-center><i>{{userData.followers}} followers</i></ion-card-subtitle>
      <ion-card-content> location: {{userData.location}}</ion-card-content>
      <ion-card-content> company: {{userData.company}}</ion-card-content>
      <ion-card-content> blog: {{userData.blog}}</ion-card-content>
    </ion-card>


</ion-content>

